* {
    margin:0 auto;
    line-height: 1.5;
    
}

body {
    @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300&display=swap');
    font-family: 'Lato', sans-serif;;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}

img {
    width: 400px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;

}